
html {
  scroll-padding-top: 50px; 
  scroll-behavior: smooth; 
}

*{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: #dddddd;
    background: -webkit-linear-gradient(90deg, #dddddd 0%, #444444 100%);
    background: linear-gradient(90deg, #dddddd 0%, #444444 100%);


}


header {
    display: flex;
    background-color: black;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: large;
    gap: 1em;
    position: fixed;
}

/* ========== accuiel section ========== */

.hero-block {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
}

.img-block {
    text-align: center;
    align-content: center;
}
.description {
    
    text-align: center;
    align-content: center;
    color: white;
}

.description-text {
    height: 200px;
    line-height: 3em;
    }

.hero-para {
    line-height: 1.5em;
    font-weight: 300;
}

.hero-des {
    font-weight: 300;
}

.head-content {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.hero-link2 {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px 30px;
}

.hero-link3 {
    text-decoration: none;
    background-color: rgb(0, 0, 0 , 0.8);
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px 30px;
}

.hero-link4 {
    text-decoration: none;
    background-color: rgb(0, 0, 0 , 0.6);
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px 30px;
}

.hero-link5 {
    text-decoration: none;
    background-color: rgb(0, 0, 0 , 0.4);
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px 30px;
}

.links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;


}

.img-content {
    border: 1px solid;
    border-radius: 100%;
}

/* ========== projets section ========== */

.hero-projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;


}
.projet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.projet-card {
    background-color: white;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-between;
    width: 350px;
    height: 500px;
    align-items: center;
    text-align: center;
    margin: 10px 0px 10px 0px;
    
}
.pro-img {
    width: 100%;
    height: 50%;
    border-radius: 20px;
}

.pro-img-content {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.pro-btn-r {
    padding: 5px 30px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-btn-l {
    padding: 5px 30px;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}


.btn-content-r {
    text-decoration: none;
    color: white;
}

.btn-content-l {
    text-decoration: none;
    color: black;
}

.projets-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    width: 100%;
    padding-bottom: 50px;
}

/* ========== propos section ========== */

.hero-propos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.propos-content {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    gap: 30px;
}

.propos-content {
    flex: 1;
}

.propos-description {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    text-align: center;
    align-items: center;
    height: 550px;
    justify-content: space-evenly;
    
    
}
.propos-description h3 {
    font-size: 45px;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 350;
    line-height: 60px;
}

.propos-description p {
    line-height: 40px;
    width: 450px;

}

.propos-competences {
    flex: 1;
    background-color: rgb(71, 71, 71);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
}
.propos-competences h3 {
    color: white;
    text-align: center;
    font-size: xx-large;
    padding: 10px;
}

.apropos-img-content {
    width: 400px;
    height: 550px;
    
}
.propos-img {
    display: flex;
    align-items: end;
    justify-content: center;
    flex: 1;
}

.propos-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    width: 100%;
    padding-bottom: 25px;
}

.text-des {
    width: 350px;
}

.comppi {
    display: flex;
    height: 90%;
    width: 350px;
    align-items: center;
}

.text-com {
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 70%;
}

.skills {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tit-skills {
    flex: 2;
    font-size: 25px;
    font-weight: 500;
}

.rec {
    background-color: white;
    border: 3px solid black;
    flex: 3;
    display: flex;
    height: 20px;
}

.r1 {
    background-color: black;
    border: black;
    width: 60%;
}

.r1 p {
    padding-left: 90px;
}


.r-out {
    color: rgb(0, 0, 0);
    padding-left: 30px;
}

.r2 {
    background-color: black;
    border: black;
    width: 30%;
}

.r2 p {
    padding-left: 90px;
}


.r3 {
    background-color: black;
    border: black;
    width: 80%;
}

.r3 p {
    padding-left: 90px;
}

.r4 {
    background-color: black;
    border: black;
    width: 70%;
}

.r4 p {
    padding-left: 90px;
}

.r5 {
    background-color: black;
    border: black;
    width: 60%;
}

.r5 p {
    padding-left: 90px;
}

/* ========== formation section ========== */

.formation-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.formation-title{
    text-align: center;
    color: white;
    font-size: 30px;
}
.formation-hero {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 30px 0px;
    flex-wrap: wrap;
}

.right-hero {
    width: 500px;
    border: 1px solid white;
    border-radius: 40px;
    height: 400px;
    padding: 30px;
    background: #000000;
    background: -webkit-linear-gradient(90deg, #000000 0%, #808080 100%);
    background: linear-gradient(90deg, #000000 0%, #808080 100%);
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 40px;
}

.right-hero-up {
    flex: 1;
    display: flex;
    gap: 20px;
}

.right-hero-down {
    flex: 1;
    font-size: large;
    line-height: 40px;
}

.right-hero-up-des {
    flex: 1;
    font-size: large;
    line-height: 40px;
    
}

.right-hero-up-img {
    flex: 1;
    background-color: #dddddd;
    border-radius: 30px;
    
}

.right-hero-up-img img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.left-hero {
    width: 500px;
    border: 1px solid;
    padding: 30px;
    height: 400px;
    border-radius: 40px;
    line-height: 45px;
    background: #808080;
    background: -webkit-linear-gradient(90deg, #808080 0%, #ffffff 100%);
    background: linear-gradient(90deg, #808080 0%, #ffffff 100%);
    margin-bottom: 40px;
}

/* ========== contact section ========== */
.contact-section {
    background: #aaaaaa;
    background: -webkit-linear-gradient(90deg, #aaaaaa 0%, #000000 100%);
    background: linear-gradient(90deg, #aaaaaa 0%, #000000 100%);
    display: flex;
    height: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-left-hero {
    width: 600px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.contact-left-hero h2 {
    color: white;
    font-size:50px;
    letter-spacing: 30px;
    height: 70px;
    width: 70%;
    text-align: center;
}

.link-cont {
    color: rgb(255, 255, 255);
    font-size:20px;
    letter-spacing: 20px;
    border: 1px solid rgb(0, 0, 0);
    height: 70px;
    width: 70%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contact-img {
    width: 90%;
    height: 90%;

}

.contact-link {
    width: 70%;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.contact-link p {
    font-size: medium;
    letter-spacing: 3px;
}

.contact-right-hero {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-img-block {
    height: 100%;
}

.contact-right-hero h2{
    color: white;
    font-size:20px;
    letter-spacing: 20px;
    padding: 20px 0px 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.message-block {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
    padding: 30px;
    align-items: center;
    justify-content: space-evenly;
    height: 430px;
}

.message-content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.message-content label {
    font-size: x-large;
    font-weight: 600;
    padding: 4px;
}

.text-label {
    height: 50px;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(132, 132, 132, 0.1);
}

.message-label {
    height: 100px;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(132, 132, 132 , 0.1);
    
}

.message-block button {
    background-color: black;
    padding: 10px 40px 10px 40px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    font-size: large;
    cursor: pointer;
}
/* ========== footer section ========== */
footer {
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
